<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">CaasWorks</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
        style="--bs-scroll-height: 100px"
      >
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            주요서비스
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/services/gantt">공정표</a></li>
            <li>
              <a class="dropdown-item" href="/services/chat-rfi">채팅 | 할일</a>
            </li>
            <li>
              <a class="dropdown-item" href="/services/daily-report"
                >작업일보</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/services/file-storage">자료실</a>
            </li>
            <li>
              <a class="dropdown-item" href="/services/mobile-app">모바일앱</a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            서비스 활용
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">영상 솔루션</a></li>
            <li>
              <a class="dropdown-item" href="#">동영상 기록관리 솔루션</a>
            </li>
            <li><a class="dropdown-item" href="#">안전관리 솔루션</a></li>
            <li><a class="dropdown-item" href="#">출입 관리 솔루션</a></li>
            <li><a class="dropdown-item" href="#">마케팅 솔루션</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">건설</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">인테리어</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            요금 및 문의
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">요금정책</a></li>
            <li><a class="dropdown-item" href="#">문의하기</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            소식
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/blog">블로그</a></li>
            <li><a class="dropdown-item" href="/notice">공지사항</a></li>
            <li><a class="dropdown-item" href="/news">뉴스레터</a></li>
          </ul>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <button class="btn btn-outline-primary" type="submit">로그인</button>
        <button class="btn btn-primary" type="submit">회원가입</button>
      </form>
    </div>
  </div>
</nav>
