<section id="contact" class="PricingBanner__Section-sc-sl1maz-0 iNgPsS">
  <div class="PricingBanner__Container-sc-sl1maz-1 cmwVeB">
    <h2 class="PricingBanner__Title-sc-sl1maz-2 fLHyrH">
      카스웍스, 지금 바로 경험해보세요
    </h2>
    <p class="PricingBanner__Description-sc-sl1maz-3 exjSar">
      카스웍스로 체계적이고 효율적인 공사 관리와 업무 프로세스를 개선해 보세요.
    </p>
    <div class="_PricingButtons__ButtonContainer-sc-dvw6sr-0 jkTgnI medium">
      <a
        class="_PricingButtons__BaseButton-sc-dvw6sr-1 _PricingButtons__FreeTrialButton-sc-dvw6sr-2 fullUO jvxZGV medium"
        href="https://app.caas.works/users/sign-up"
        >체험하기</a
      ><a
        class="_PricingButtons__BaseButton-sc-dvw6sr-1 _PricingButtons__ContactButton-sc-dvw6sr-3 fullUO jyobnF medium"
        href="/contact"
        >문의하기</a
      >
    </div>
  </div>
</section>
